 <h1>Update a GENRE</h1>

<form action="/music/genres/<%= @genre.id %>" method="post">
<p>
  <label>
    Name: 
    <input type="text"  name="type" value = "<%= @genre.type %>"/>
  </label>
</p>

  <input type="submit" value="Update"/>

</form>