<h1>Genres present in our inventory</h1>
<hr/>
<a href="/music/genres/new" class = "btn">Add a NEW Genre</a>
<hr/>#

<table>
<caption>All the Artist</caption>

<tr>
  <th>Type:</th>
  <th>Details</th>
</tr>
<% for genre in @genres %>
<tr> 
  <td><%= genre.type()  %></td>
  <td><form action="/music/genres/<%= genre.id  %>" method="get">
<input type="submit" value="Show details" />
</form></td>
  </tr>
<%end%>
  
</table>




