<h1> Genre Details </h1>
<p>Type: <%= @genre.type()  %></p>

    <a href="/music/genres/<%= @genre.id %>/edit" class = "btn">Edit</a>
    </p>
    
<form action = "/music/genres/<%= @genre.id %>/delete" method = "post">
<input type = "submit" value = "Delete" />
</form>