
<h1>Welcome Jeff, how may I help you today?</h1>

<hr/>
<hr/>

<form action="/music/albums" method="get">
<input type="submit" value=" Go to your Inventory" />
</form>

<form action="/music/artists" method="get">
<input type="submit" value="Artist List" />
</form>

<p>
<form action="/music/albums/new" method="get">
<input type="submit" value="Add a new album" />
</form>

<form action="/music/artists/new" method="get">
<input type="submit" value="Add a new artist" />
</form>



