<!DOCTYPE html>
<html>
<head>
  <title>Music Store</title>


  <link rel="icon" href="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRiIZRC0Zu9naV2VWRnXIfyNN4xpXji5t5dMP0Xl_-zjwZSFw-pjVBwUCxBtQ" />

  <link rel="stylesheet" type = "text/css" href="/style.css"

</head>
<body>
<main class="flex flex--start">
  <nav>
    <li>
      <a href="/music">Home Page</a>
      <a href="/music/inventory">INVENTORY</a>
      <a href="/music/albums">All the Albums</a>
      <a href="/music/artists">All the Artists</a>
    </li>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>