<!DOCTYPE html>
<html>
<head>
  <title>Music Store</title>


  <link rel="icon" href="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRiIZRC0Zu9naV2VWRnXIfyNN4xpXji5t5dMP0Xl_-zjwZSFw-pjVBwUCxBtQ" />

  <link rel="stylesheet" type = "text/css" href="/style.css"

</head>
<body>
<main class="flex flex--start">
  <nav>
      <a href="/music" class="btn">Home Page</a>
      <a href="/music/inventory" class="btn">INVENTORY</a>
      <a href="/music/albums" class="btn">All the Albums</a>
      <a href="/music/artists" class="btn">All the Artists</a>
      <a href="/music/others" class="btn">Additional functions</a>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>