<!DOCTYPE html>
<html>
<head>
  <body>


    <title>Crazy Keith's Music Store</title>
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">

    <link rel="icon" href="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRiIZRC0Zu9naV2VWRnXIfyNN4xpXji5t5dMP0Xl_-zjwZSFw-pjVBwUCxBtQ" />

    <link rel="stylesheet" type = "text/css" href="/style.css">



  </head>
  <main class="flex flex--start">
  <ul id="top-nav">
      <li><a href="/music">Home</a></li>
      <li><a href="/music/inventory">INVENTORY</a></li>
      <li><a href="/music/albums">Albums</a></li>
      <li><a href="/music/artists">Artists</a></li>
      <li><a href="/music/sales">SALES</a></li>
      <li><a href="/music/others">Genres</a></li>
    </ul>
    <section id="content">
      <%= yield %>
    </section>
  </main>
</body>
</head>
</html>