body {
  background-image: url("https://itsasmallweb.files.wordpress.com/2011/05/vinyl_1680.jpg")

}

.low {
  color: red;
}

.medium {
  color: purple;
}

.high {
  color: green;
}



h1 {
    color: orange;
    font-family: comic;
    font-size: 50px;
    text-align: center;
}

h2 {
    color: orange;
    font-family: comic;
    font-size: 35px;
    text-align: center;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
} 
nav {
  padding: 0px;
  margin: 0px;
  padding-right: 20px;
}

nav ul li {
  margin-bottom: 15px;
  text-transform: uppercase;
}

p {
    color: white;
    font-family: comic;
    font-size: 20px;
}