body {
  background-image: url("https://itsasmallweb.files.wordpress.com/2011/05/vinyl_1680.jpg")

}

.low {
  color: red;
}

.medium {
  color: purple;
}

.high {
  color: green;
}


h1 {
  font-family: 'Orbitron', sans-serif;
  color: orange;
  font-size: 50px;
  text-align: center;
}

h2 {
    color: orange;
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    text-align: center;
}

h3 {
    color: orange;
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    text-align: left;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
} 

ul li a {
  text-decoration: none;
  color: white;
}

ul li{
  float:left;
  width: 100px;
  height: 40px;
  background-color: orange;
  color:white;
  font-size: 20px;
  line-height: 50px;
}

.active {
    background-color: #4CAF50;
    color: white;
}

table {
  border-collapse: collapse;
  width: 70%;
  margin: auto;
  color: orange;
  background-color: #FFF
  padding: 1em 1.5em 2em 1.5em}

th {
  padding: 0.5em 0 0.5em;
  font-weight: bold;
  background-color: #FFC;
  border-top:1px solid #FB7A31;
  border-bottom:1px solid #FB7A31;
}

td {

  padding: 0.5em 0 0.5em;
  text-align: center;
border-top:1px solid #CCC;
border-bottom:1px solid #CCC}



caption {font-size: 20px;
  font-weight: bold;}

p {
    color: white;
    font-family: comic;
    font-size: 20px;
}

.btn {
  background: #ff6f00;
  background-image: -webkit-linear-gradient(top, #ff6f00, #ffe45c);
  background-image: -moz-linear-gradient(top, #ff6f00, #ffe45c);
  background-image: -ms-linear-gradient(top, #ff6f00, #ffe45c);
  background-image: -o-linear-gradient(top, #ff6f00, #ffe45c);
  background-image: linear-gradient(to bottom, #ff6f00, #ffe45c);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #00002e;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

