<h1>Stock Arrived</h1>

<form action="/music/albums/buy" method="post">
<p>
<label>
  Title:
  <select name="id">
  <% for album in @albums %>
    <option <%= "selected" if @album.id == album.id %> value="<%= @album.id %>"><%= album.title %></option>
  <% end %>
  </select>
  </label>
</p>

<p>
  <label>
    Quantity: 
    <input type="number"  name="quantity" value="<%= @album.quantity %>"/>
  </label>
</p>

  <input type="submit" value="Stock Arrived"/>

</form>