<h1>Add a new ALBUM</h1>

<form action="/music/albums" method="post">
<p>
  <label>
    Title: 
    <input type="text"  name="title"/>
  </label>
</p>

<p>
  <label>
    Artist: 
    <input type="number"  name="artist_id"/>
  </label>
</p>

<p>
  <label>
    Genre: 
    <input type="text"  name="genre"/>
  </label>
</p>
<p>
  <label>
    Price: 
    <input type="number"  name="price"/>
  </label>
</p>

  <input type="submit" value="Add"/>

</form>