<h1>Albums Sold</h1>

<form action="/music/albums/sell" method="post">

<p>
  Select an album:
  <label>
    <select name="id">
    <option disabled selected>select..</option>
      <% for album in @albums %>
      <option value="<%= album.id %>"><%= album.title %></option>
      <% end %>
    </select>
  </label>
</p>

<p>
  <label>
    Quantity: 
    <input type="number"  name="quantity" min="0"/>
  </label>
</p>
a
  <input type="submit" value="Stock Arrived"/>

</form>