<form action="/music" method="get">
<input type="submit" value="Home Page" />
</form>
<hr/>
<hr/>

<h1>Update an ARTIST</h1>

<form action="/music/artists/<%= @artist.id %>" method="post">
<p>
  <label>
    Name: 
    <input type="text"  name="name" value = "<%= @artist.name %>"/>
  </label>
</p>

  <input type="submit" value="Update"/>

</form>