<h1>Artists present in our inventory</h1>
<hr/>
<a href="/music/artists/new" class="btn">Add a NEW Artist</a>
<hr/>

<table>
<caption>All the Artist</caption>

<tr>
  <th>Name</th>
  <th>Details</th>
</tr>

<% for artist in @artists %>
<tr> 
  <td><%= artist.name()  %></td>
  <td><form action="/music/artists/<%= artist.id  %>" method="get">
<input type="submit" value="Show details" />
</form></td>
  </tr>
<%end%>
  
</table>




