<h1>Artists present in our inventory</h1>

<% for artist in @artists %>
<p>Name: <%= artist.name()  %></p>

<form action="/music/artists/<%= artist.id  %>" method="get">
<input type="submit" value="Show details" />
</form>
<hr/>


<%end%>





