<h1>Add a new ARTIST</h1>

<form action="/music/artists" method="post">
<p>
  <label>
    Name: 
    <input type="text"  name="name"/>
  </label>
</p>  
<p>
  <label>
    Logo url:
    <input type="text"  name="logo"/>
  </label>
</p>


  <input type="submit" value="Add"/>

</form>