<form action="/music" method="get">
<input type="submit" value="Home Page" />
</form>
<hr/>
<hr/>

<h1> Artist Details </h1>
<p>Name: <%= @artist.name()  %></p>

    <a href="/music/artists/<%= @artist.id %>/edit">Edit</a>
    </p>
    
<form action = "/music/artists/<%= @artist.id %>/delete" method = "post">
<input type = "submit" value = "Delete" />
</form>